@font-face {
    font-family: "Poppins Black";
    src: url(assets/fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
    font-family: "Poppins Light";
    src: url(assets/fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: "Poppins Medium";
    src: url(assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Poppins SemiBold";
    src: url(assets/fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Poppins Bold";
    src: url(assets/fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
    font-family: "Poppins Regular";
    src: url(assets/fonts/Poppins/Poppins-Regular.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins Regular", monospace, Helvetica;
}

html{
    font-size: 100%;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Poppins SemiBold";
}

body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

ul{
    list-style: none;
}

button{
    cursor: pointer;
}

a{
    color: #000;
    text-decoration: none;
}

/* Estilizado Header */

#menu-phone{
    display: none;
}

#container-header{
    height: 15vh;
    width: 100vw;
    background-color: #FFF;
    display: flex;
    align-items: center;
}

#logo-header{
    width: 10%;
    margin-left: 5rem;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#container-nav{
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1.8rem;
}

#nav-ul{
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.inicio{
    color: #ec368d;
}

.nav-link{
    font-family: "Poppins SemiBold";
    margin: 0 4rem;
}

#button-nav{
    background: #ec368d;
    color: #FFF;
    font-size: 1.1rem;
    margin: 0rem 1.8rem;
    padding: .5rem 1.3rem;
    border: 0px;
    border-radius: 18px;
    text-transform: uppercase;
}


/* Estilizado main */

#container-main{
    height: 90vh;
    width: 100vw;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main izquierda */

#main-left{
    height: 100%;
    width: 55%;
    display: flex;
    padding: 5em 0 0 5em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#main-heading-crypto{
    font-family: "Poppins Bold";
    text-transform: uppercase;
    color: #F2F2F2;
    font-size: 5em;
    letter-spacing: 4px;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#main-heading-container{
    margin-top: 1em;
    padding: 0 0 2em 2.5em;
    border-left: 13px solid #ec368d;
}

#main-heading{
    width: 70%;
    line-height: 1.1em;
    font-family: "Poppins SemiBold";
    font-size: 2.5em;
    text-transform: capitalize;
}

#main-paragraph{
    margin-top: .5em;
    font-size: 1.2em;
    font-family: "Poppins Medium";
    color: #727272;
    text-transform: capitalize;
}

#main-span{
    font-family: "Poppins Medium";
    font-size: 1.8em;
    margin-left: 1.8em;
}

#main-btn{
    font-family: "Poppins Medium";
    background: #ec368d;
    color: #FFF;
    font-size: 1.2em;
    margin: 1.6em 2.8em;
    padding: .9em 3em;
    border: 0px;
    border-radius: 10px;
    text-transform: uppercase;
}

/* main derecha */

#main-right{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 2em;
    padding-bottom: 1em;
}

#container-hero{
    height: 75%;
    width: 100%;
    background-color: #ec368d;
    border-radius: 25px 0 0 25px;
}

#main-hero{
    height: 100%;
    width: auto;
    transform: scale(1.5) translate(18%, 10%);
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#container-socialmedia{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-line-socialmedia{
    width: 40%;
    margin-left: 4em;
    border-top: 2px solid #b2b2b2;
}

#main-socialmedia{
    padding-right: 2em;
    align-self: center;
}

.main-social{
    padding: 0 2em;
}
/* Estilizado primer artículo */

#container-first-art{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
}

/* primer artículo izquierda */

#hero-heading{
    font-size: 2.3rem;
    margin-left: 4em;
    text-transform: capitalize;
    line-height: 1.3em;
}

#first-art-left{
    width: 50%;
}

/* primer artículo derecha */

#first-art-right{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 9rem;
    margin-top: 2em;
}

#email-btn-form{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 1.1em;
}

#email-input{
    width: 50%;
    border: 0;
    border-bottom: 2px solid #d0d0d0;
}

#sign-up-btn{
    padding: .8rem 2.7em;
    margin-left: 1rem;
    border-radius: 15px;
    border: 0;
    background: #ec368d;
    color: #FFF;
}

#first-art-paragraph{
    font-family: "Poppins Light";
    font-size: .7rem;
    text-align: left;
}

#terms-n-conditions{
    text-decoration: underline;
}
#terms-n-conditions:hover{
    text-decoration: none;
}

/* Estilizando segundo artículo */

#container-second-art{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
}

/* segundo artículo izquierda */

#second-art-left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3rem;
}

.second-art-card{
    margin: 1.7rem 2rem;
}

.dot{
    height: 12px;
    width: 12px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
}
.dot + .dot{
    margin-left: .6rem;
}

.heading-second-art{
    font-family: "Poppins SemiBold";
    font-size: 1.5rem;
}

.paragraph-second-art{
    font-family: "Poppins Regular";
    font-size: 1rem;
    line-height: 1.3rem;
    color: #4e4e4e;
}

/* segundo artículo derecha */

#second-art-right{
    height: 100%;
    width: 50%;
}

#card-second{
    height: 100%;
    width: auto;
    transform: scale(.85) translate(20%, 5%);
    width: auto;
    overflow: hidden;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#second-art-circle{
    height: 90%;
    width: 50%;
    background-color: #ec368d;
    border-radius: 50%;
    position: absolute;
    transform: translate(50%, 10%);
}

/* Estilizando tecer artículo */

#container-third-art{
    height: 100vh;
    width: 100%;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#heading-third-art{
    color: #ec368d;
    margin: 1em auto;
    font-size: 3rem;
}

#cards-third-art{
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.card-third-article{
    height: 100%;
    width: 17%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 0;
    border-radius: 18px;
    box-shadow: 0 0 8px 2px #F2F2F2;
}

.card-heading-third-art{
    font-family: "Poppins Bold";
    width: 90%;
    font-size: 1.1rem;
    text-align: center;
    color: #ec368d;
    text-transform: uppercase;
}

.card-img-third-art{
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* estilizando cuarto article */

/* #container-fourth-art{
    height: 30vh;
    width: 100%;
    display: flex;
    background-color: #ec368d;
    border-top: 1px solid black;
}

#fourth-art-left{
    height: 100%;
    width: 60%;
}

#fourth-art-right{
    height: 100%;
    width: 40%;
}

#phone-fourth-art{
    height: 100%;
    width: 100%;
    transform: scale(2.3) translate(-10%, 0%) skew(10deg, -10deg);;
    margin-top: 5em;
} */

/* Estilizado footer */

#container-footer{
    height: 45vh;
    width: 100%;
    padding-bottom: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-third{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first-container-footer{
    height: 100%;
    justify-content: space-around;
}

.footer-heading{
    font-family: "Poppins SemiBold";
    font-size: 1.2rem;
    color: #575757;
    text-transform: uppercase;
}

.footer-link{
    font-family: "Poppins Regular";
    color: #757575;
}

.first-link{
    text-transform: uppercase;
}

.madefrom{
    margin-top: 5rem;
    color: #4e4e4e;
}

#madefrom-mobile{
    display: none;
}

/* Media queries */

@media (max-width: 1024px){
    #logo-header{
        width: 15%;
    }

    #main-heading-crypto{
        font-size: 3.5rem;
    }

    #main-left{
        padding: 3.5em 0 0 3.5em;
    }

    #main-heading{
        font-size: 2.2rem;
    }

    #main-paragraph{
        font-size: 1.2rem;
    }

    #main-span{
        font-size: 1.3rem;
        margin-left: 3.3rem;
    }
    
    #main-btn{
        padding: .6em 2em;
    }

    #container-hero{
        margin-top: 1.5rem  ;
        height: 65%;
    }

    #main-hero{
        transform: scale(1.6) translate(11%, 6%);
    }

    .main-social{
        padding: 0 1em;
    }

    #main-line-socialmedia{
        width: 50%;
        margin-left: 1em;
    }
    
    #first-art-right{
        padding-left: 4.5rem;
    }

    #second-art-circle{
        height: 80%;
        transform: translate(60%, 10%);
    }

    #card-second{
        transform: scale(.78) translate(15%, 0%);
    }
}

@media (max-width: 768px){ 
    .nav-link{
        margin: 0 1rem;
    }
    
    #container-nav{
        padding: 0;
    }

    #button-nav{
        margin: 0 1rem;
    }

    #logo-header{
        width: 20%;
    }

    #main-left{
        padding: 3.5em 0 0 1.5em;
    }

    #main-heading-crypto{
        font-size: 2.8rem;
    }

    #main-heading{
        font-size: 1.8rem;
    }

    #main-paragraph{
        font-size: 1rem;
        width: 70%;
    }

    #main-span{
        font-size: 1.3rem;
        margin-left: 3.3rem;
    }
    
    #main-btn{
        padding: .6em 1.2em;
    }

    #container-hero{
        margin-top: 1.5rem  ;
        height: 60%;
    }

    #main-hero{
        transform: scale(1.55) translate(6%, 6%);
    }

    .main-social{
        padding: 0 .5em;
    }

    #main-line-socialmedia{
        width: 40%;
        margin-left: 1em;
    }


    #hero-heading{
        margin-left: 5.5rem;
    }

    #first-art-right{
        padding-left: 3rem;
    }

    #sign-up-btn{
        padding: .8rem 1.6rem;
    }

    #first-art-paragraph{
        font-size: .6rem;
    }

    #second-art-circle{
        height: 70%;
        transform: translate(60%, 30%);
    }

    #card-second{
        transform: scale(.65) translate(-8%, 17%);
    }

    .first-container-footer{
        margin-top: 3rem;
    }

    #lucho{
        display: none;
    }
}

@media (max-width: 425px){
    .nav-link{
        margin: 0 1rem;
    }
    
    #container-header{
        height: 10vh;
    }

    #container-nav{
        padding: 0;
        display: none;
    }

    #button-nav{
        margin: 0 1rem;
    }

    #logo-header{
        width: 40%;
        margin: 1rem;
        padding-left: 1rem;
    }

/* main */

    #container-main{
        width: 100%;
        height: 110vh;
        flex-direction: column;
    }

    #main-left{
        height: 100%;
        width: 90%;
        margin: 0 auto;
        padding: 1rem 0 0 0rem;
        display: flex;
        flex-direction: column;
    }

    #main-heading-crypto{
        font-size: 2.8rem;
    }

    #main-heading-container{
        padding: 2rem 0 2rem 0;
        border: 0;
    }

    #main-heading{
        font-size: 2.5rem;
        width: 80%;
    }

    #main-paragraph{
        width: 100%;
        padding-top: 2.2rem;
        margin: 0;
        font-size: 1.3rem;
    }

    #main-span{
        font-size: 1.6rem;
        margin-left: 0;
    }
    
    #main-btn{
        margin: 5.8em 3em 0em 0em;
        padding: .6em 1.2em;
    }

    #main-right{
        height: 10%;
        width: 100%;
    }

    #container-hero{
        display: none;
    }

    #main-hero{
        transform: scale(1) translate(6%, 6%);
    }

    #container-socialmedia{
        height: 100%;
        width: 100%;
        flex-direction: column;
    }

    #main-socialmedia{
        align-self: flex-start;
        margin-left: 1.2rem;
    }

    .main-social{
        padding: 0 .5em;
    }

    #main-line-socialmedia{
        display: none;
    }

    /* primer artículo */

    #hero-heading{
        margin: 0 auto;
    }

    #container-first-art{
        height: 80vh;
        flex-direction: column;
        margin-left: 1.3rem;
    }

    #first-art-left{
        height: 50%;
        width: 100%;
    }

    #first-art-right{
        height: 50%;
        width: 100%;
        padding-left: 0rem;
    }

    #email-btn-form{
        height: 50%;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #sign-up-btn{
        margin: 1rem 0 1rem 0;
        padding: 1rem 4rem;
    }

    #first-art-paragraph{
        width: 50%;
        margin-top: 1rem;
        font-size: .7rem;
    }

/* segundo artículo */

    #container-second-art{
        height: 100vh;
        margin-top: 10vh;
        flex-direction: column;
    }

    #second-art-left{
        height: 90%;
        width: 100%;
        padding: 0;
        margin: 0 0 0 3rem;
    }

    .dot + .dot{
        display: none;
    }

    .second-art-card{
        margin: 1.2rem 0;
    }

    .paragraph-second-art{
        width: 70%;
        margin-top: 1rem;
    }

    #second-art-right{
        height: 10%;
        width: 100%;
    }

    #second-art-circle{
        display: none;
    }

    #card-second{
        transform: scale(4) translate(80%, 20%);
        z-index: 1;
    }

    /* tercer artículo */

    #container-third-art{
        height: 100vh;
        margin: 10vh 0;
    }

    #heading-third-art{
        z-index: 2;
        margin: 1rem auto 2rem auto;
    }

    #cards-third-art{
        height: 90%;
        width: 100%;
        flex-direction: column;
        gap: 3rem;
    }

    .card-third-article{
        height: 35%;
        width: 40%;
    }

    .card-heading-third-art{
        font-size: .9rem;
    }

    .card-img-third-art{
        height: 50%;
        width: auto;
    }

    /* footer */

    #container-footer{
        height: 100vh;
        margin-left: 2rem;
        flex-direction: column;
        justify-content: center;
    }

    .footer-third{
        height: 30%;
        width: 100%;
        margin: 1.2rem 0;
    }

    .first-container-footer{
        margin-top: 3rem;
    }
    
    #lucho{
        display: none;
    }

    .madefrom{
        margin-top: 3rem;
    }

    #madefrom{
        display: none;
    }

    #madefrom-mobile{
        display: block;
    }
}

@media (max-width: 375px){
    #main-heading-crypto{
        font-size: 2.5rem;
    }

    #card-second{
        transform: scale(3.6) translate(80%, 30%);
    }

    .card-third-article{
        width: 50%;
    }

    #heading-third-art{
        font-size: 2.7rem;
        margin: 1rem auto 4rem auto;
    }
}

@media (max-width: 320px){
    
    #main-heading-crypto{
        font-size: 2.2rem;
    }

    .card-third-article{
        width: 60%;
    }

    #heading-third-art{
        font-size: 2.5rem;
        margin: 1rem 0 4rem 1rem;
    }
}
